.container {
  position: relative;
}

.App {
  align-items: flex-start;
  background: grey;
  display: flex;
  flex-wrap: wrap;
  float: left;
  margin: auto;
  width: 502px;
}

.App .block {
  height: 52px;
  width: 50px;
}
