.container {
  position: relative;
}

.App {
  align-items: flex-start;
  background: white;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: calc(5vh * 12 + 2px);
}

.App .block {
  border-radius: 3px;
  border: 1px solid #000;
  box-sizing: border-box;
  font-size: 3vh;
  font-weight: bold;
  height: calc(5vh + 2px);
  line-height: calc(5vh + 2px);
  text-align: center;
  width: 5vh;
}

.logo {
  animation: logo-spin infinite 20s linear;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
